<!-- Country Selection Card -->
<div class="card country-selection" *ngIf="content">
  <div class="card-header">
    <h3>{{ content.homeTitle }}</h3>
  </div>
  <div class="card-body">
    <select class="form-control" [(ngModel)]="selectedCountry" (ngModelChange)="onCountryChange()">
      <option value="">{{ content.countryPlaceholder }}</option>
      <option *ngFor="let country of content.countries" [value]="country">{{ country }}</option>
    </select>
    
    <div *ngIf="selectedCountry" class="selected-country mt-3">
      {{ content.countrySelectLabel }}: {{ selectedCountry }}
    </div>
  </div>
</div>

<!-- Questions Card -->
<country-questions></country-questions> 